$opacityValue: 1;
$main-color: rgba(77,181,120,$opacityValue);
$main-color-hover: darken($main-color, 8%);
$arab-font: "Scheherazade", "Traditional Arabic";
$txtColor: #fff;
$gray: #bbb;
$light-gray: #eee;
$nav-top-color: #999;
$font-stack: 'Fira Sans', sans-serif;
$fb-color: #3b5998;
$tw-color: #55acee;
$gp-color: #d34836;
 