$opacityValue: 1;
$main-color: #00978A;
$color2: #20b2aa;
$color3: #007763;
$color4: #ff8d35;
$color5: #999999;
$color6: #f9f9f9;
$color7: #fafafa;
$color8: #B0FF33;
$red: #FF0037;
$orange: #fdb300;
$purple: #312994;
$yellow: #ffff00;
$white: #fff;
$main-color-hover: $color3;
$arab-font: "Scheherazade", "Traditional Arabic";
$txtColor: $white;
$gray: #bbb;
$light-gray: #eee;
$nav-top-color: #999;
$font-stack: 'Fira Sans', sans-serif;
$fb-color: #3b5998;
$tw-color: #55acee;
$gp-color: #d34836;
 