
body{
  font-family: 'Fira Sans', sans-serif;
}

.hafalan-actions {
margin:7px 0
}

.page_free_input form{
  margin:0px;
}

.page_free_input a{
  padding:0px !important;
}

.page_free_input input{
  border: 0px;
  width: 60px !important;
  text-align: center;
  height: 30px;
}
.page_free_input button{
  height: 30px;
  padding: 0px;
  height: 0px;
}

.page_free_input .form-group{
  height: 32px
}

.arabic .content_ayat{
  line-height: 50px;
}

.mushaf .ayat_section.playing, .mushaf .ayat_section.playing .arabic, .mushaf .ayat_section.playing .trans  {
  background-color:#fcf8e3 !important;
}

.detail_top{text-align: center;color: #1C9A71 !important;background-color: #dff0d8}
.no_ayat_arabic{font-size: 20px}

.detail_top .btn {
    margin: 0;
    background-color: #1fa67a;
    color: #fff;
    border-left: solid 1px #1b926c;
}
.detail_top .btn:hover, .btn:focus {
background-color:#1b926c;
color:#fff
}

.surah_title {
   background-color: hsla(103, 44%, 89%, 0.82);
    color: #3C763D;
    padding-bottom: 10px;
}
.surah_title > .surah_name, .surah_title > .head_surah{
  text-align: center !important;
 
}
.surah_title > .surah_name  {
  margin-bottom: 10px;
}
.surah_title > .surah_name  strong {
  font-size: 16px;
}

.mushaf .ayat_section .trans{
  margin:0px;
}
.ayat_section {height: 100%}
.mushaf{
  padding-bottom : 60px;
}
.mushaf .ayat_section .trans .no_ayat{
  padding: 0px;
}

.mushaf .ayat_section .trans{
  padding-left: 10px;
}

@media (min-width: 200px) and (max-width: 800px) {
    .head_surah{
      font-size: 20px;
      padding:0px;
    }
   .mushaf .ayat_section .arabic{
    font-size: 20px;
    padding:0px;
   }
   .mushaf .ayat_section .trans{
    font-size: 12px;
    padding: 0px 0px 0px 10px;

   }
   .main-content-wrap .main-content .single-column{
    width:98%;
   }
}