@media (max-width: 767px) and (min-width: 300px){
	.mushaf .ayat_section .arabic {
		padding:  0px !important;
	}
	.jp-video .jp-type-playlist .jp-controls{
		margin-left: 100px !important;
	}
}
/*.mushaf .ayat_section .trans{padding:10px 10px  !important;}
.mushaf .ayat_section .arabic{
	padding: 10px
}
*/

.surah-nav .pagination>li>a,.surah-nav .pagination>li>span{
	padding: 4px 9px;
}

.memoz-message.alert-warning{
	text-align: left;
}

.center{
	text-align: center;
}

#preloader .loading{
	font-size: 24px;
	color: #FFF;
}
.btn-search{
	background-color: #25835B;
}

.highlight { background-color: #B0FF33 }
