@import 'responsive-media';

$main-color: rgba(77,181,120,1);
$main-color-hover: darken($main-color, 8%);
$arab-font: arabic;
$txtColor: #fff;
$nav-top-color: #999;
$font-stack: 'Fira Sans', sans-serif;

$btn-normal: (bWidth: 1px, bColor: $main-color, bStyle: solid, bgColor: transparent, txtColor: $main-color);
$btn-hover: (bWidth: 1px, bColor: $main-color, bStyle: solid, bgColor: $main-color, txtColor: #fff);

@mixin boxy($bWidth, $bColor, $bStyle, $bgColor, $txtColor) {
  border-width: $bWidth;
  border-color: $bColor;
  border-style: $bStyle;
  background-color: $bgColor;
  color: $txtColor;
  background-image: none;
  text-shadow:none;
}

@font-face {
    font-family: $arab-font;
}

body{
	background: #fff;
	font-family: $font-stack;
}

a,
a:hover,
a:focus{
	text-decoration: none;
	outline:0 none;
	cursor: pointer;
}

.arabic, 
.head_surah{
	font-family: $arab-font;
	font-size: 30px;
	word-spacing: 0px;
}

.clearfix{
	clear:both;
}

.mushaf_display a.selected,
.steps a.selected {font-weight: bold;}


.navbar{
	margin-bottom: 0;

	&.fixed {
	  position: fixed;
	  top:0; 
	  left:0;
	  width: 100%; 
	}
}

.navbar-default{
	background-image:none;
	background: $main-color;
	border-radius: 0;
	border:none;
	z-index: 3;

	.navbar-toggle{
	    border-color: transparent;

	    .icon-bar{
		    background-color: #fff;
		  }

		  &:hover,
		  &:focus{
		    background-color: $main-color;
		  }
	 } 
	
	.navbar-collapse, 
	.navbar-form{
		box-shadow: none;
		border-color: transparent;
	}

	.navbar-brand{
		color: #fff;
		text-shadow:none;
		font-weight: 700;
		transition: color 1s ease;

		&:hover,
		&:focus{
			color: darken($main-color-hover,5%);
		}
	}

	.navbar-nav{

		& > .active > a, 
		& > .open > a{
			background-image:none;
		}

		& > li > a{
			color: #fff;
			text-shadow:none;
		}

		& > .active > a, 
		& > .active > a:focus, 
		& > .active > a:hover{
			background-color: $main-color-hover;
			color: #fff;
		}

	}
	

}


#main-nav{
	display: none;
}

.nav-top{
	position: relative;
	border-bottom: solid 1px #ddd;
	padding: 10px 20px;
	background-color: #f6f6f6;
	z-index: 999;

	.btn-surah-trigger{
		width: 100%;
		background-color: $main-color;
		color: #fff;

		&:hover,
		&:focus{
			background-color: $main-color-hover;
		}
	}

	.memoz_options{
		position: absolute;
		top:11px;
		right: 9px;
		z-index: 5;

		.btn{
			background: transparent;
			border:none;
			box-shadow: none;
			text-shadow: none;
			color: #999;

			&:hover,
			&:focus{
				background-color: transparent;
				color: $main-color;
			}
		}

		.dropdown-menu{
			padding: 10px 15px;

			li{
				padding: 10px 0;
				&.divider{
					padding: 0;
				}
			}
		}


	}
}

.select-surah{

	.form-inline{
		margin-bottom: 0;

		.form-group{
			margin: 0 5px 0 0;
		}

		.btn{
			background-color: $main-color;
			color: #fff;
			font-size: 20px;
			margin-left: 3px;

			&:hover,
			&:focus{
				background-color: $main-color-hover;
			}
		}


	}

	.checkbox,
	.form-control,
	span{
		color: $nav-top-color;
	}

	.search_ayat{
		width:55px;
	}

}

.body-memo .nav-top .select-surah{
	width: 100%;
}

.surah-nav{
	width: 100%;
	margin:auto;
	text-align: center;

	.input-group{
		margin: auto;

		.btn{
			background-color: $main-color;
		    border-color: $main-color;
		    color: #fff;
		    text-shadow:none;
		}
	}

}

.wrap .alert{
	margin-bottom: 15px;
	transition: all 1s ease;
	text-align: center;
}

.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover{
	background-color: $main-color;
	border-color: $main-color;
}

.pagination > li > a, 
.pagination > li > span{
	color: $main-color;
	border:solid 1px $main-color;
	background: transparent;
}

.pagination>li>a:focus, 
.pagination>li>a:hover, 
.pagination>li>span:focus, 
.pagination>li>span:hover{
	background-color: $main-color;
	border-color: $main-color;
	color: #fff;
}

.surah-action{
	text-align: right;
	margin: 7px 0 0;

	.auto-play{
		margin-right: 10px;
		color: #999;
	}

	#playnow{
		color: #999;
	}
}

.main-content-wrap{
	width: 100%;
	margin: 0;
	display: block;
	position: relative;
	

	.main-content{
		padding: 20px 0;

		.backdrop{
			background: url(../images/Islamic-Art-and-Architecture-Building-05.jpg) no-repeat center center / cover;
			width: 100%;
			height: 400px;
			position: fixed;
			top:0;
			left: 0;
			z-index: 1;

			.backdrop-inner{
				background-color: rgba(31,142,97,0.85);
				width: 100%;
				height: 100%;
			}
		}

		.single-column{
			width: 80%;
			margin:0 auto;
			position: relative;
			z-index: 2;

			@include media(">=1200px") {
	          	width: 80%;
	      	}

			@include media(">=desktop", "<=1200px") {
	          	width: 90%;
	      	}

			@include media("<desktop", ">=tablet") {
	          	width: 95%;
	      	}

	      	@include media(">=tablet","<=800px") {
	          	width: 100%;
	      	}

	      	@include media("<tablet",">=phone") {
	          	width: 100%;
	      	}

			.page-title h2{
				margin: 0 0 20px;
				color: #fff;

				@include media("<tablet",">=phone") {
		          	text-align: center;
		      	}

			}
		}
	}
}

body.body-memo{
	
	.mushaf{
		padding-top:1px;
	}
}

.mushaf{
	padding-bottom: 60px;
	position: relative;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	right: 0;

	.mushaf_display{
		margin:0 auto;
		text-align: center;
		position: relative;
		display: block;
		width: 100%;

		.btn-group {
			display: block;
			width: 100.3%;

			.btn{
				border-color: $main-color;
				color: $main-color;
				width: 33.3%;
				border-radius: 0;
				border:none;
				padding: 13px 0;
				font-size: 16px;

				&.active,
				&:active{
					background-color: $main-color;
				    border-color: $main-color;
				    color: #fff;
				    text-shadow: none;
				    background-image: none;
				    box-shadow: none;
				}

				&:hover,
				&:focus{
					background-color: $main-color;
					color: #fff;
				}
			}

		}
	}

	.ayat_section{
		border-bottom: dashed 1px #ddd;
		// padding: 15px 10px;
		position: relative;
		overflow: hidden;
		transition: height 1s ease;

		

		&.playing, 
		&.playing .arabic, 
		&.playing .trans  {
		  background-color:#fcf8e3 !important;
		}

		.head_surah{
			text-align: right;

			@include media("<tablet", ">=phone") {
				font-size: 20px;
	      		padding:0px;
			}

			
		}

		.surah_name{
			padding: 5px;
		}

		&.playing{
			background-color: rgba(255,255,255,0.8);
		}

		.arabic{
			text-align: right;
			color: #2B4538;
			width: 100%;
			line-height: 65px;
			-moz-animation-duration: 1s;
	        -webkit-animation-duration: 1s;
	        transition: all 1s ease;
	        background-color: #f6f6f6;
	        padding: 15px 0;
	        position:relative;
	        opacity: 1;

	        @include media("<tablet", ">=phone") {
				font-size: 20px;
    			padding:20px 10px 20px 0;
			}

	        .content_ayat{
	        	padding: 0 15px;
	        	line-height: 50px;
	        }

	        .no_ayat_arabic{
	        	padding: 0 15px 0 0;
	        }
		}

		.trans{
			text-align: left;
			color: rgba(43, 69, 56, 0.7);
			font-size: 16px;
			width: 100%;
			line-height: 24px;
			-moz-animation-duration: 1s;
	        -webkit-animation-duration: 1s;
	        transition: all 1s ease;
	        background-color: #fefefe;
	        padding: 15px 0;
	        position:relative;
	        opacity: 1;

	        @include media("<tablet", ">=phone") {
				font-size: 12px;
    			padding: 20px 0px 20px 10px;
			}

	        .trans_content{
	        	padding: 0 15px;
	        
	        }

	        .no_ayat{
	        	padding: 0 0 0 15px;
	        }

		}

		.puff
		{
        	z-index: 1;
        	height: 0 !important;
        	padding: 0;
        	opacity: 0;
        }

		.go{
			height:100%;
			z-index: 2;
			padding: 20px 0;

		}

		.action-footer{
			position: relative;
			width: 100%;
			height: 35px;
			z-index: 5;
			background-color: #eee;

		    .btn{
				margin: 0;
				background-color: #eee;
				color: #aaa;
				border-left:solid 1px #ddd;
				border-radius: 0;
				padding: 7px 20px;

				&:first-child{
					border-left: none;
				}

				&:hover,
				&:focus{
					background-color: $main-color;
					color: #fff;
				}
			}
		}

	}

}

.nav-top-collapse{
	display: block;
    height: auto !important;
    overflow: visible !important;
    padding-bottom: 0;
}

.quran_player{
	width: 100%;
	position: fixed;
	bottom:0;
	left: 0;
	background: transparent;
	z-index:99;

	.jp-video{
		width: 480px;
		background:transparent;
		margin: 0 auto;
	}

	.jp-audio, 
	.jp-audio-stream, 
	.jp-video{
		border:none;
	}

	.jp-interface{
		border-top:1px solid $main-color !important;
		border-left:1px solid $main-color !important;
		border-right:1px solid $main-color !important;
	}
}

.fa-3{
	font-size: 4em;
}

.toggle-player{
	position: fixed;
	bottom: -10px;
    right:0;
    z-index: 999;
    padding: 10px 0;

    .btn-toggle-player{
    	border:solid 1px $main-color;
    	color: $main-color;
    	text-align: center;
    	background: #fff;
    	border-radius: 0;

    	&:hover,
    	&:focus{
    		background-color: $main-color;
    		color: #333;
    	}
    }
}

.memoz_player{
	padding: 5px 20px;
	margin: 15px 0;
}

.steps_desc{
	color: #999;
	font-size: 16px;
	padding: 0 10px;
}

.mushaf-hafalan{

	.step-wrap{
		width: 100%;
		margin:7px 0;

		.steps{
			padding:0 10px;
			margin: 10px 0;
			display: block;

			.btn{

				@include boxy($btn-normal...);
				width: 20%;

				&:hover,
				&:focus,
				&.selected{

					@include boxy($btn-hover...);

				}

			}
		}

	}

}

.hafalan-actions{
	margin:7px 0;
}

.modal{

	&.content-mode{
		.modal-dialog{
			width: 90%;
			margin-top:3%;
		}
	}
	.modal-dialog{
		width: 500px;
		margin-top:11%;

		.modal-content{
			border-radius: 0;
		}
	}

	.modal-header{
		border-bottom: none;
		text-transform: capitalize;
		text-align: center;
	}

	.modal-footer{
		border-top:none;
	}

}

.modal.login-mode{

	.modal-dialog{

		background: url("../images/cal1.png") no-repeat center center / cover ;
		.modal-content{
			background-color: rgba(255, 255, 255, 0.9);
		}

	}

	.modal-footer{
		background: lighten($main-color, 10%);
		color: #fff;
	}
	
}

.modal.register-mode{

	.modal-dialog{

		background: url("../images/cal1.png") no-repeat center center / cover ;
		.modal-content{
			background-color: rgba(255, 255, 255, 0.9);
		}

	}

	.modal-footer{
		background: lighten($main-color, 10%);
		color: #fff;
	}
	
}

.login_form .btn-group,
.register_form .btn-group{
	width: 100%;
}

.login_form .btn-group .btn,
.register_form .btn-group .btn{
	width: 50%;
	border-radius: 0;
}

.login_form{

	width: 80%;
	margin:0 auto;

	.btn-masuk{
		@include boxy($btn-normal...);

		&:hover,
		&:focus,
		&.selected{

			@include boxy($btn-hover...);

		}

	}

	.btn-daftar{
		@include boxy($btn-hover...);

		&:hover,
		&:focus,
		&.selected{

			@include boxy($btn-normal...);

		}
		
	}

}

.register_form{

	width: 80%;
	margin:0 auto;

	.btn-masuk{
		@include boxy($btn-normal...);

		&:hover,
		&:focus,
		&.selected{

			@include boxy($btn-hover...);

		}

	}

	.btn-daftar{
		@include boxy($btn-hover...);

		&:hover,
		&:focus,
		&.selected{

			@include boxy($btn-normal...);

		}
		
	}

}

.form-horizontal{

	.form-group{
		margin: -16px -15px 15px;

		.form-control{
			border-radius: 0;
			height:auto;
			padding: 12px;
		}
	}	
}

.input-group { 
	width: 100%; 
}

.btn-breadcrumb{

	.btn:not(:last-child):after {
	  content: " ";
	  display: block;
	  width: 0;
	  height: 0;
	  border-top: 17px solid transparent;
	  border-bottom: 17px solid transparent;
	  border-left: 10px solid white;
	  position: absolute;
	  top: 50%;
	  margin-top: -17px;
	  left: 100%;
	  z-index: 3;
	}

	.btn:not(:last-child):before {
	  content: " ";
	  display: block;
	  width: 0;
	  height: 0;
	  border-top: 17px solid transparent;
	  border-bottom: 17px solid transparent;
	  border-left: 10px solid #4db578;
	  position: absolute;
	  top: 50%;
	  margin-top: -17px;
	  margin-left: 1px;
	  left: 100%;
	  z-index: 3;
	}

	/** The Spacing **/

	.btn {
	  padding:6px 12px 6px 24px;
	  box-shadow: none;
	}
	.btn:first-child {
	  padding:6px 6px 6px 10px;
	}
	.btn:last-child {
	  padding:6px 18px 6px 24px;
	}

	/** Default button **/
	.btn.btn-default.selected:not(:last-child):after {
	  border-left: 10px solid #4db578;
	}
	.btn.btn-default:not(:last-child):after {
	  border-left: 10px solid #fff;
	}
	.btn.btn-default:not(:last-child):before {
	  border-left: 10px solid #4db578;
	}
	.btn.btn-default:hover:not(:last-child):after {
	  border-left: 10px solid #4db578;
	}
	.btn.btn-default:hover:not(:last-child):before {
	  border-left: 10px solid #fff;
	}

}

.page_free_input{
	form{
	  margin:0px;
	}

	a{
	  padding:0px !important;
	}

	input{
	  border: 0px;
	  width: 60px !important;
	  text-align: center;
	  height: 30px;
	}

	button{
	  height: 30px;
	  padding: 0px;
	  height: 0px;
	}

	.form-group{
	  height: 32px
	}
}

.detail_top{
	text-align: center;
	color: #1C9A71 !important;
	background-color: #dff0d8;

	.btn {
	    margin: 0;
	    background-color: #1fa67a;
	    color: #fff;
	    border-left: solid 1px #1b926c;

	    &:hover,
	    &:focus {
			background-color:#1b926c;
			color:#fff
		}
			
	}
}

.no_ayat_arabic{font-size: 20px}

.surah_title {
	background-color: hsla(103, 44%, 89%, 0.82);
	color: #3C763D;
	padding-bottom: 10px;

	.surah_name,
	.head_surah{
		text-align: center;
	}

	.surah_name  {
	  margin-bottom: 10px;

	  strong {
		  font-size: 16px;
		}
	}

}

.input-group{
  
	@include media("<tablet",">=phone") {
		width: auto;
	}
}
.form-group{

	@include media("<tablet",">=phone") {
		margin-bottom: 0px;
	}
}

.footer{
	text-align: center;
	width: 100%;
	position: relative;
	margin-bottom: 30px;

	ul{
		list-style: none;
		li{
			display: inline-block;
			margin-right: 10px;
			
			span{
				color: darken($main-color,10%);
			}
			a{
				color: $main-color;
				&:hover,
				&:focus{
					color: lighten($main-color,10%);
				}
			}
		}
	}
}