@font-face {
    font-family: arabic;
    src: url(arabtype.ttf);
}
div.arabic, .head_surah{
	font-family: arabic;
	font-size: 30px;
	word-spacing: 0px;
}

.ayat_section{

}

.clearfix{
	clear:both;
}

.mushaf_display a.selected,.steps a.selected {font-weight: bold;}



/* ------------ asep styles ------------- */

#main-nav,
.quran_player{
	display: none;
}

.mushaf .mushaf_display{
	margin:13px auto;
	text-align: center;
	position: relative;
	display: block;
}

.mushaf .arabic{
	text-align: right;
}

.mushaf .arabic,
.mushaf .trans{
	width: 50%;
}

.mushaf .ayat_section{
	border-bottom: dashed 1px #ddd;
	padding: 20px 10px 15px;
}

.mushaf .ayat_section:nth-child(2){
	border-bottom: none;
	text-align: center;
}

.mushaf .ayat_section{
	cursor: pointer;
}

/* responsive */

@media only screen and (max-width: 20em){

	.navbar-toggle{
		float: left;
		margin-left: 15px;
		margin-right: 0;
	}

	.navbar-brand{
		float: right;
	}

	.mushaf .ayat_section{
		margin-bottom: 15px;
	}

	.mushaf .arabic,
	.mushaf .trans{
		width: 100%;
		float: none !important;
		clear:both;
	}

	.mushaf .trans .no_ayat{
		float: left;
	}

}