@font-face {
    font-family: arabic;
    src: url(arabtype.ttf);
}
div.arabic, .head_surah{
	font-family: arabic;
	font-size: 30px;
	word-spacing: 0px;
	float: right;
	margin: 10px 0px 20px 0px;
}

.ayat_section{

}

.clearfix{
	clear:both;
}

.mushaf_display a.selected {font-weight: bold;}