.input-group {
    width: 100%;
	@include media("<=767px",
	">=585px") {
		width: 90%;
		float: left;
		margin-right: 20px;
	}
	@include media("<=584px",
	">=481px") {
		width: 85%;
		float: left;
		margin-right: 20px;
	}
	@include media("<=480px",
	">=phone") {
		width: 80%;
		float: left;
		margin-right: 20px;
	}
}

.form-group {
	@include media("<tablet",
	">=phone") {
		margin-bottom: 0px;
	}
}

.form-horizontal {
	.form-group {
		margin: 0 -15px 7px;
		.form-control {
			border-radius: 6px;
			height: auto;
			padding: 12px;
		}
	}
}

.login_form {
	width: 80%;
	margin: 30px auto 0;
	.form-control {
		border: solid 1px #fff;
		border-bottom: dashed 1px #ddd;
		box-shadow: none;
		margin-bottom: 5px;
		border-radius: 6px !important;
		&:focus {
			border-bottom: solid 2px $main-color;
		}
	}
	.btn-masuk{
		padding: 12px;
		width: 100%;
		border-radius: 6px;
		color: $main-color;
		font-size: 20px;
		background: #fff;
		border: solid 1px #fff;
		box-shadow: none !important;
		&:hover,
		&:focus,
		&.selected {
			color: darken(yellow, 10%);
		}
	}
	.btn-daftar{
		color: #fff;
		font-size: 16px;
		margin: 15px auto 0;
		display: block;
		text-align: center;
		background: none;
		width: 100%;
	}
}

.register_form {
	padding: 0 45px 45px;
	margin: 20px auto 0;
	background: transparent;
	.btn-group{
		.btn{
			width: 50%;
			border-radius: 6px;
		}
	}
	.register-intro {
		width: 45%;
		height: 333px;
		position: relative;
		overflow: hidden;
		.promo-txt {
			padding: 10px;
			position: relative;
			z-index: 2;
			height: 333px;
			color: #fff;
			padding: 10px 0;
			font-size: 16px;
			h3 {
				text-align: center;
				color: #fff;
				font-weight: 600;
				margin-bottom: 20px;
				font-size: 20px;
				line-height: 28px;
			}
			p {
				font-size: 17px;
				line-height: 24px;
			}
			@include media("<tablet",
			">=phone") {
				height: auto;
			}
		}
		@include media("<tablet",
		">=phone") {
			width: 100%;
			float: none !important;
			margin-bottom: 15px;
			height: auto;
		}
	}
	form {
		width: 50%;
		margin-top: 15px;
		@include media("<tablet",
		">=phone") {
			width: 90%;
			float: none !important;
			margin: 0 auto;
		}
	}
	.btn-daftar{
		display: block;
		padding: 12px;
		width: 100%;
		border-radius: 6px;
		color: $main-color;
		font-size: 20px;
		background: #fff;
		border: solid 1px #fff;
		margin-bottom: 10px;
		box-shadow: none !important;
		&:hover,
		&:focus,
		&.selected {
			color: darken(yellow, 10%);
		}
	}
	.btn-masuk{
		color: #fff;
		font-size: 16px;
		margin: 15px auto 0;
		display: block;
		text-align: center;
		background: none;
		width: 100%;
		border: none;
	}
}

.login-link,
.forgot-pass-link{
	display: block;
	text-align: center;
	padding:10px 0;
	font-size: 14px;
}

.register-block{
	background: url("../images/vot1mpfUwZA.jpg") no-repeat center center;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	margin-top: -15px;
	position: relative;
	.register-backdrop{
		background-color: rgba($main-color,.7);
		width: 100%;
		height:100%;
		margin: auto;
	}
	.login-brand{
		padding: 40px 0;
		margin: 0 auto;
	}
}