.quran-player {
	margin: auto;
	left: 0;
	right: 0;
	position: fixed;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 99;
	@include media(">=1200px") {
		width: 80%;
	}
	@include media(">=desktop",
	"<1200px") {
		width: 90%;
	}
	@include media("<desktop",
	">=801px") {
		width: 95%;
	}
	@include media(">=tablet",
	"<=800px") {
		width: 100%;
	}
	@include media("<tablet",
	">=phone") {
		width: 100% !important;
	}
}

.quran_player {
	height: 50px;
	// position: fixed;
	// bottom:0;
	// left: 0;
	background: transparent;
	z-index: 99;
	@include media(">=1200px") {
		width: 100%;
	}
	@include media(">=desktop",
	"<=1200px") {
		width: 90%;
	}
	@include media("<=380px",
	">=phone") {
		width: 320px;
	}
	@include media("<desktop",
	">=801px") {
		width: 95%;
	}
	@include media(">=tablet",
	"<=800px") {
		width: 100%;
	}
	@include media("<tablet",
	">=381px") {}
	.jp-video {
		@include media(">=1200px") {
			width: 100%;
		}
		@include media(">=desktop",
		"<=1200px") {
			width: 90%;
		}
		@include media("<desktop",
		">=801px") {
			width: 95%;
		}
		@include media(">=tablet",
		"<=800px") {
			width: 100%;
		}
		@include media("<=380px",
		">=phone") {
			width: 320px;
		}
		@include media("<tablet",
		">=381px") {
			width: 100%;
		}
		background:transparent;
		margin: 0 auto;
		.jp-progress {
			height: 3px;
			background-color: rgba(191, 225, 178, 0.82) !important;
		}
		.jp-current-time {
			margin-left: 0;
		}
		.jp-duration {
			margin-right: 0;
		}
	}
	.jp-controls-holder {
		top: -12px;
		left: -45px;
		@include media(">=1200px") {
			width: 100% !important;
		}
		@include media(">=desktop",
		"<=1200px") {
			width: 90% !important;
		}
		@include media("<desktop",
		">=801px") {
			width: 95% !important;
		}
		@include media(">=tablet",
		"<=800px") {
			width: 100% !important;
		}
		@include media("<=380px",
		">=phone") {
			width: 320px !important;
			top: -12px;
			left: 0;
		}
		@include media("<tablet",
		">=381px") {
			width: 100% !important;
		}
		@media (max-width: 767px) and (min-width: 270px) {
			left: 0 !important;
			width: 100% !important;
		}
	}
	.jp-audio,
	.jp-audio-stream,
	.jp-video {
		border: none;
	}
	.jp-video {
		@media (max-width: 767px) and (min-width: 270px) {
			margin: 0;
        	width: 100%
		}
		.jp-type-playlist {
			.jp-controls {
				margin: auto;
				float: none;
				@include media("<=400px",
				">=phone") {
					margin-left: 185px;
				}
				@media (max-width: 767px) and (min-width: 270px) {
					margin: auto;
				}
			}
		}
	}
	.jp-interface {
		// border-top:1px solid $main-color !important;
		// border-left:1px solid $main-color !important;
		// border-right:1px solid $main-color !important;
		border: none !important;
		background-color: transparent;
	}
	.jp-play-bar {
		background: #2e6e48 !important;
	}
	.jp-volume-controls {
		@media (max-width: 767px) and (min-width: 270px) {
			display: none
		}
    }
}

.quran_recorder{
	margin: auto;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 99;
    width: 100%;
    border-top: 2px solid #cae6c0;
    text-align: center;
    padding: 10px 0px;
	.action{
		float: left;
		@include media("<=480px",
		">=phone") {
			float: none;
			width: 90%;
			margin: 0 auto;
		}
	}
	.button{
		box-shadow: none;
		border:0px;
    	background-color: transparent;
		color: #000;
		&.disable{
			opacity:0.7;
		}
		&.stop{
			color: #FF0062;
		}
	}
	.player{
		float: right;
		@include media("<=tablet",
		">=desktop") {
			
		}
		@include media("<=480px",
		">=phone") {
			float: none;
			width: 90%;
			margin: 0 auto;
		}
	}
}