.dashboard-wrap
    .boxcontent{
        padding: 0;
        .dash-profile{
            
        }
    }

.dash-profile-detail-wrap{
    background: url('../images/OGeyUVT_p3U.jpg') no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.dash-profile-detail{
    background: rgba($main-color,.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 20px 0px;
    .dash-profile-img{
        width:120px;
        height: 120px;
        position: relative;
        overflow: hidden;
        margin: 0 15px;
        img{
            width:100%;
            height: auto;
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom: 0;
            margin: auto;
        }
    }
    .dash-profile-name{
        margin-bottom: 5px;
        color: #fff;
        font-size: 18px;
        .fa{
            position: relative;
            color: darken($main-color,25%);
            font-size: 25px;
            span{
                position: absolute;
                text-align: center;
                color: #fff;
                top:0;
                left:0;
                right:0;
                bottom:0;
                margin: auto;
                font-size: 15px;
                width:10px;
                height: 17px;
                font-weight: bold;
            }
        }
    }
    .btn-trigger-dashboard{
        position: absolute;
        bottom: -15px;
        right: 10px;
        border-radius: 100%;
        border: solid 1px #fff;
        background: $color4;
        color: #fff;
        z-index: 99;
        font-size: 16px;
    }
    .qm-badge{
        display: none;
    }
}

.tabbed-nav{
    width: 100%;
    background: darken($main-color,10%);
    padding: 15px 0;
    .tabbed-nav-list{
        padding-left:10px;
        .tabbed-nav-list-item{
            display: inline-block;
            line-height: 40px;
            width: 32.3%;
            margin: 0;
            padding: 0;
            i{
                display: block;
                text-align: center;
                font-size: 45px;
            }
            &:nth-child(-n+3){
                border-bottom: solid 1px rgba(255,255,255,.6);
            }
            &:nth-child(-n+5){
                border-right: solid 1px rgba(255,255,255,.6);
            }
            &:nth-child(3){
                border-right: none;
            }
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(6){
                margin-left:-3px;
            }
            &:nth-child(n+4){
                padding-top: 10px;
            }
            .tabbed-nav-link{
                color: #fff;
                padding: 7px 5px;
                text-align: center;
                display: block;
                font-size: 13px;
                &:active,
                &:hover,
                &:focus{
                    color: $main-color;
                }
            }
        }
    }
}

.timeline-koreksi{
    margin-bottom: 20px;
    .boxcontent-label{
        text-align: center;
    }
}
    

.correction-list
    .correction-list-item{
        border-bottom: solid 1px #eee;
        &:last-child{
            border-bottom: none;
        }
    }

.koreksi-box{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    .koreksi-avatar{
        width: 75px;
        height: 75px;
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .koreksi-desc{

    }
}





