.memoz_nav {
	width: 98%;
	margin: 0 auto 10px;
	@include media("<=480px",
	">=phone") {
		width: 88%;
	}
	.btn {
		color: $main-color;
		border: solid 1px $main-color;
		display: inline-block;
		width: 19.7%;
		&:hover,
		&:focus {
			color: #fff;
			background: $main-color-hover;
		}
		@include media("<=1279px",
		">=481px") {
			width: 18.7%;
		}
		@include media("<=480px",
		">=phone") {
			width: auto;
			padding: 4px 5px;
		}
	}
}

.body-memo .nav-top .select-surah {
	width: 100%;
}

body.body-memo {
	.mushaf {
		padding-top: 1px;
	}
}

.puzzle {
	background-color: #DDD;
	.content_ayat {
		display: inline-block;
		.arabic-puzzle {
			float: left;
			width: auto;
			padding: 5px !important;
			margin: 2px;
			border: dotted 1px #333;
			&:empty {
				padding: 0 !important;
				border: none;
			}
		}
	}
}

.memoz_player {
	padding: 5px 20px;
	margin: 15px 0;
}

.steps_desc {
	color: #999;
	font-size: 16px;
	padding: 0 10px;
}

.mushaf-hafalan {
	.step-wrap {
		width: 100%;
		margin: 7px 0;
		.steps {
			padding: 0 10px;
			margin: 10px 0;
			display: block;
			.btn {
				@include boxy($btn-normal...);
				width: 20%;
				&:hover,
				&:focus,
				&.selected {
					@include boxy($btn-hover...);
				}
			}
		}
	}
}

.hafalan-actions {
	margin: 7px 0;
}

.memoz-check-link{
    color: $main-color;
    text-align: center;
    display: block;
}

.memoz-link-area{
	display: inline-block;
    font-size: 40px;
	margin-bottom: -20px;
}

.memoz-status{
    display: none;
    visibility: hidden;
}

.puzzle {
    padding: 0 25px
}

.mushaf-hafalan.mushaf .puzzle .arabic-puzzle {
    font-family: "me_quran","Lateef", "Traditional Arabic";
    padding: 0 2px 2px!important
}

.mushaf-hafalan.mushaf .puzzle .arabic-puzzle:end-child {
    padding: 0 2px 2px 22px !important
}

.puzzle .arabic-puzzle a {
    background-color: #DDD;
    text-decoration: none;
    padding: 0 7px
}

.memoz-filter ul li{
    width: 33.3333% !important;
}
.memoz-options.open>.dropdown-menu {
    width: 100%;
}
.memoz-options .dropdown-menu>li>a{
    font-size: 16px;
}
.memoz-list .memoz-item .memoz-body{
    
    cursor: pointer;
}

.memoz-list .memoz-item strong{
    margin:0px;
    color:#70C393;
    font-size: 14px;
}

.memoz-list .memoz-item .memoz-target{
    color :#adadad;
    font-size:11px;
}

.blur-ayat,
.blur-ayat .highlight-red,.blur-ayat .highlight-green,.blur-ayat .highlight-orange,.blur-ayat .highlight-blue {
    color: transparent;
    text-shadow: 0 0 17px rgba(0, 0, 0, 0.5)
}

.modal-body > form > a.btn-last-memoz {
    display: none
}

.form-inline a.btn-setting,
.btn-last-memoz {
    font-size: 14px!important
}

.form-inline .btn.btn-setting span.hidden-xs,
.btn-last-memoz {
    padding-left: 0!important
}

.btn-last-memoz {
    padding-left: 5px!important
}

.puzzle_q {
    visibility: hidden
}

.puzzle_border {
    border: 1px dotted #333
}

.puzzle_no_border {
    border: 0!important
}

.puzzle .ayat_arabic_memoz {
    visibility: show!important
}

.puzzle {
    font-size: 23px
}

.segmented-control {
    position: relative;
    display: inline-block;
    border: 1px solid currentColor;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    overflow: hidden;
    margin: .8em auto;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-transition-duration: .8s;
    -o-transition-duration: .8s;
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
    -moz-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -o-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    -webkit-tap-highlight-color: transparent
}

.segmented-control > input {
    position: absolute;
    left: -10000px;
    opacity: 0
}

.segmented-control > input[type='checkbox'] ~ label {
    -moz-transition-duration: 0;
    -o-transition-duration: 0;
    -webkit-transition-duration: 0;
    transition-duration: 0
}

.segmented-control > input[type='checkbox'] ~ label:before {
    opacity: 0
}

.segmented-control > input:disabled:nth-child(1) ~ label:nth-of-type(1) {
    opacity: .3;
    cursor: not-allowed
}

.segmented-control > input:nth-child(1):checked ~ label:nth-of-type(1):after,
.segmented-control > input:nth-child(1):checked ~ label:nth-of-type(1):before {
    opacity: 1
}

.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1):after,
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1):before,
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1) ~ label:after,
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1) ~ label:before {
    left: 0
}

.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2):after,
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2):before,
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:after,
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:before {
    left: 0
}

.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3):after,
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3):before,
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:after,
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:before {
    left: 0
}

.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4):after,
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4):before,
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:after,
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:before {
    left: 0
}

.segmented-control > input:disabled:nth-child(2) ~ label:nth-of-type(2) {
    opacity: .3;
    cursor: not-allowed
}

.segmented-control > input:nth-child(2):checked ~ label:nth-of-type(2):after,
.segmented-control > input:nth-child(2):checked ~ label:nth-of-type(2):before {
    opacity: 1
}

.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2):after,
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2):before,
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:after,
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:before {
    left: 50%
}

.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3):after,
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3):before,
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:after,
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:before {
    left: 33.33333%
}

.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4):after,
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4):before,
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:after,
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:before {
    left: 25%
}

.segmented-control > input:disabled:nth-child(3) ~ label:nth-of-type(3) {
    opacity: .3;
    cursor: not-allowed
}

.segmented-control > input:nth-child(3):checked ~ label:nth-of-type(3):after,
.segmented-control > input:nth-child(3):checked ~ label:nth-of-type(3):before {
    opacity: 1
}

.segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3):after,
.segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3):before,
.segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:after,
.segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:before {
    left: 66.66667%
}

.segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4):after,
.segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4):before,
.segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:after,
.segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:before {
    left: 50%
}

.segmented-control > input:disabled:nth-child(4) ~ label:nth-of-type(4) {
    opacity: .3;
    cursor: not-allowed
}

.segmented-control > input:nth-child(4):checked ~ label:nth-of-type(4):after,
.segmented-control > input:nth-child(4):checked ~ label:nth-of-type(4):before {
    opacity: 1
}

.segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(4):after,
.segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(4):before,
.segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:after,
.segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:before {
    left: 75%
}

.segmented-control > label {
    display: inline-block;
    padding: 0 .71em;
    cursor: pointer;
    float: left;
    line-height: 3em;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: inherit;
    -moz-transition-property: none;
    -o-transition-property: none;
    -webkit-transition-property: none;
    transition-property: none;
    -moz-transition-duration: inherit;
    -o-transition-duration: inherit;
    -webkit-transition-duration: inherit;
    transition-duration: inherit;
    -moz-transition-timing-function: inherit;
    -o-transition-timing-function: inherit;
    -webkit-transition-timing-function: inherit;
    transition-timing-function: inherit
}

.segmented-control > label:before,
.segmented-control > label:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none
}

.segmented-control > label:after {
    color: #fff;
    content: attr(data-value);
    text-align: center;
    padding: inherit;
    z-index: 10;
    font-style: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    opacity: 0;
    -moz-transition-property: opacity, left;
    -o-transition-property: opacity, left;
    -webkit-transition-property: opacity, left;
    transition-property: opacity, left;
    -moz-transition-duration: inherit;
    -o-transition-duration: inherit;
    -webkit-transition-duration: inherit;
    transition-duration: inherit;
    -moz-transition-timing-function: inherit;
    -o-transition-timing-function: inherit;
    -webkit-transition-timing-function: inherit;
    transition-timing-function: inherit
}

.segmented-control > label:after,
.segmented-control > label {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.segmented-control > label:before {
    content: '';
    color: inherit;
    background: currentColor;
    -moz-transition-property: left;
    -o-transition-property: left;
    -webkit-transition-property: left;
    transition-property: left;
    -moz-transition-duration: inherit;
    -o-transition-duration: inherit;
    -webkit-transition-duration: inherit;
    transition-duration: inherit;
    -moz-transition-timing-function: inherit;
    -o-transition-timing-function: inherit;
    -webkit-transition-timing-function: inherit;
    transition-timing-function: inherit
}

.segmented-control > label:first-of-type:nth-last-of-type(1),
.segmented-control > label:first-of-type:nth-last-of-type(1):after,
.segmented-control > label:first-of-type:nth-last-of-type(1):before,
.segmented-control > label:first-of-type:nth-last-of-type(1) ~ label,
.segmented-control > label:first-of-type:nth-last-of-type(1) ~ label:after,
.segmented-control > label:first-of-type:nth-last-of-type(1) ~ label:before {
    width: 100%
}

.segmented-control > label:first-of-type:nth-last-of-type(2),
.segmented-control > label:first-of-type:nth-last-of-type(2):after,
.segmented-control > label:first-of-type:nth-last-of-type(2):before,
.segmented-control > label:first-of-type:nth-last-of-type(2) ~ label,
.segmented-control > label:first-of-type:nth-last-of-type(2) ~ label:after,
.segmented-control > label:first-of-type:nth-last-of-type(2) ~ label:before {
    width: 50%
}

.segmented-control > label:first-of-type:nth-last-of-type(3),
.segmented-control > label:first-of-type:nth-last-of-type(3):after,
.segmented-control > label:first-of-type:nth-last-of-type(3):before,
.segmented-control > label:first-of-type:nth-last-of-type(3) ~ label,
.segmented-control > label:first-of-type:nth-last-of-type(3) ~ label:after,
.segmented-control > label:first-of-type:nth-last-of-type(3) ~ label:before {
    width: 33.33333%
}

.segmented-control > label:first-of-type:nth-last-of-type(4),
.segmented-control > label:first-of-type:nth-last-of-type(4):after,
.segmented-control > label:first-of-type:nth-last-of-type(4):before,
.segmented-control > label:first-of-type:nth-last-of-type(4) ~ label,
.segmented-control > label:first-of-type:nth-last-of-type(4) ~ label:after,
.segmented-control > label:first-of-type:nth-last-of-type(4) ~ label:before {
    width: 25%
}

.segmented-control.italic,
.segmented-control .italic {
    font-style: italic
}

.segmented-control.bold,
.segmented-control .bold {
    font-weight: 700
}

.segmented-control.underline,
.segmented-control .underline {
    text-decoration: underline
}

.segmented-control.line-through,
.segmented-control .line-through {
    text-decoration: line-through
}

.memorized {
    opacity: .15
}

.container-segmented h4 {
    margin: 0;
    font-size: 14px
}

.memoz-message.alert-warning {
    text-align: left
}

.pause-marks{
    position: relative;
    top:8px;
}

.count-search .badge {
    color: #FFF
}

.btn-bookmark {
    margin-right: 5px
}

.memoz_nav .btn.active {
    color: #fff;
    background: $main-color;
}